<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klk.bank.mapper.AccountMapper">

	<select id="selectAllAccount" resultType="com.klk.bank.domain.AccountDto">
		SELECT a.account_num,
			   a.account_user_id, 
			   a.account_item_id, 
			   a.account_pw, 
			   a.account_balance, 
			   a.account_date, 
			   u.user_id account_user_name 

    FROM Account a JOIN User u ON a.account_user_id = u.user_id

		<if test="type != null">
			<choose>
				<when test="type == 'account_num'">
					WHERE a.account_num LIKE #{keyword}
					ORDER BY a.account_num 
				</when>
				<when test="type == 'account_user_name'">
					WHERE u.user_id LIKE #{keyword}
					ORDER BY u.user_id
				</when>
			</choose>
		</if>
		
		LIMIT #{from}, #{row_per_page}
	</select>
	
	<select id="selectAccount" resultType="com.klk.bank.domain.AccountDto">
		SELECT a.account_num,
			   a.account_user_id, 
			   a.account_item_id, 
			   a.account_pw, 
			   a.account_balance, 
			   a.account_date, 
			   u.user_id account_user_name 

		FROM Account a JOIN User u ON a.account_user_id = u.user_id
		WHERE account_num = #{account_num}

	</select>
	
	<insert id="insertAccount">
		INSERT INTO Account(account_num, account_user_id, account_item_id, account_pw)
		VALUES (#{account_num}, #{account_user_id}, #{account_item_id}, #{account_pw})
	</insert>
	
	<update id="updateAccount">
		UPDATE Account
		SET account_user_id = #{account_user_id},
		    account_item_id = #{account_item_id},
		    account_pw = #{account_pw},
		    account_balance = #{account_balance}
		WHERE account_num = #{account_num}    
	</update>
	
	<delete id="deleteAccount">
		DELETE FROM Account
		WHERE account_num = #{account_num}
	</delete>
	
	<select id="selectSearchCountAccount" resultType = "int">
		SELECT COUNT(*)
		FROM Account a JOIN User u ON a.account_user_id = u.id
		<if test="type != null">
			<choose>
				<when test="type == 'account_num'">
					WHERE a.account_num LIKE #{keyword}
				</when>
				<when test="type == 'account_user_name'">
					WHERE u.user_id LIKE #{keyword}
				</when>
			</choose>
		</if>
		
	</select>
	
	<select id="countAccountNum" resultType="int">
		SELECT COUNT(account_num)
		FROM Account
		WHERE account_num = #{account_num}
	</select>
	
	<insert id="insertTransfer"> 
		INSERT INTO Transfer(trans_account_num, trans_div, trans_cost)
		VALUES (#{trans_account_num}, #{trans_div}, #{trans_cost})
	</insert>
	
	<select id="selectTransferAccount" resultType="com.klk.bank.domain.TransferDto">
		SELECT trans_id,
			   trans_account_num,
			   trans_div,
			   trans_cost,
			   trans_date
		FROM Transfer
		WHERE trans_account_num = #{account_num}
	
	</select>
	

	<select id="selectSearchCurrentUserCountAccount" resultType="int">
		SELECT COUNT(*)
		FROM Account a JOIN User u ON a.account_user_id = u.user_id
		WHERE u.user_id = #{user_id}
		<if test="type != null">
			<choose>
				<when test="type == 'account_num'">
					AND a.account_num LIKE #{keyword}
				</when>
				<when test="type == 'account_user_name'">
					AND u.user_id LIKE #{keyword}
				</when>
			</choose>
		</if>
		
	</select>
	
	<select id="selectCurrentUserAccount" resultType="com.klk.bank.domain.AccountDto">
		SELECT a.account_num,
			   a.account_user_id, 
			   a.account_item_id, 
			   a.account_pw, 
			   a.account_balance, 
			   a.account_date, 
			   u.user_id account_user_name 
		FROM Account a JOIN User u ON a.account_user_id = u.user_id
		WHERE u.user_id = #{user_id}
		<if test="type != null">
			<choose>
				<when test="type == 'account_num'">
					AND a.account_num LIKE #{keyword}
					ORDER BY a.account_num 
				</when>
				<when test="type == 'account_user_name'">
					
					ORDER BY u.user_id
				</when>
			</choose>
		</if>
		
		LIMIT #{from}, #{row_per_page}
	</select>

</mapper>