<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klk.bank.mapper.QnaReplyMapper">
	<insert id="insertQnaReply">
		INSERT INTO Qna_Reply(qna_id, user_id, qna_rep_content, qna_rep_parent, qna_rep_dep)
		VALUES (#{qna_id}, #{user_id}, #{qna_rep_content}, #{qna_rep_parent}, #{qna_rep_dep})
	</insert>
	
	<select id="selectAllQnaReplyByQnaId" resultType="com.klk.bank.domain.QnaReplyDto">
		WITH RECURSIVE cte AS (
			SELECT r.id, 
				r.qna_id, 
				r.user_id, 
				r.qna_rep_content, 
				r.qna_rep_inserted, 
				r.qna_rep_parent, 
				r.qna_rep_dep, 
				CAST(LPAD(ROW_NUMBER() OVER(ORDER BY r.id), 8, '0') AS CHAR(99)) ord
			FROM Qna_Reply r   
       		WHERE r.qna_rep_dep = 0
        
       		UNION ALL
        
        	SELECT r.id, 
				r.qna_id, 
				r.user_id, 
				r.qna_rep_content, 
				r.qna_rep_inserted, 
				r.qna_rep_parent, 
				r.qna_rep_dep,
				CONCAT(ord, LPAD(r.id, 8, '0')) ord
			FROM Qna_Reply r   
			INNER JOIN cte c ON r.qna_rep_parent = c.id
		)
		SELECT ROW_NUMBER() OVER(ORDER BY ord) rownumber,
			c.id, 
			c.qna_id, 
			c.user_id, 
			c.qna_rep_content, 
			c.qna_rep_inserted, 
			c.qna_rep_parent, 
			c.qna_rep_dep, 
            IF (u.user_id = #{user_id}, 1, 0) own 
		FROM cte c JOIN User u ON c.user_id = u.user_id
		WHERE c.qna_id = #{qna_id}
		ORDER BY rownumber
	</select>
	
	<select id="selectReplyByReplyId" resultType="com.klk.bank.domain.QnaReplyDto">
		SELECT id, qna_id, user_id, qna_rep_content, qna_rep_inserted, qna_rep_parent, qna_rep_dep, CONCAT(qna_rep_parent, ",", id) lev 
		FROM Qna_Reply
		WHERE id = #{id}
	</select>
	
	<update id="updateQnaReply">
		UPDATE Qna_Reply
		SET qna_rep_content = #{qna_rep_content}
		WHERE id = #{id}	
	</update>
	
	<delete id="deleteQnaReply">
		DELETE FROM Qna_Reply
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteRepByQnaId">
		DELETE FROM Qna_Reply
		WHERE qna_id = #{qna_id}
	</delete>
	
	<delete id="deleteRepByUserId">
		DELETE FROM Qna_Reply
		WHERE user_id = #{user_id}
	</delete>
</mapper>