<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klk.bank.mapper.UserMapper">

	<insert id="insertUser">
		INSERT INTO User(user_id, user_pw, user_name, user_address, user_phone, user_email, user_birth)
		VALUES (#{user_id}, #{user_pw}, #{user_name}, #{user_address}, #{user_phone}, #{user_email}, #{user_birth})
	</insert>
	
	<!-- 권한 추가 -->
	<insert id="insertAuth">
		INSERT INTO Auth(user_id, role)
		VALUES (#{user_id}, #{auth})
	</insert>
	
	<select id="countUserId" resultType="int">
		SELECT COUNT(user_id)
		FROM User
		WHERE user_id = #{user_id}
	</select>
	
	<select id="countUserEmail" resultType="int">
		SELECT COUNT(user_email)
		FROM User
		WHERE user_email = #{user_email}
	</select>
	
	<select id="selectUserById" resultType="com.klk.bank.domain.UserDto">
		SELECT user_id, user_pw, user_name, user_address, user_phone, user_email, user_birth  
		FROM User
		WHERE user_id = #{user_id}
	</select>
	
	<select id="selectAllUserList" resultType="com.klk.bank.domain.UserDto">
		SELECT u.user_id, u.user_pw, u.user_name, u.user_address, u.user_phone, u.user_email, u.user_birth, a.role user_role
		FROM User u JOIN Auth a 
		ON u.user_id = a.user_id 
	</select>
	
	<update id="updateUser">
		UPDATE User
		SET user_pw = #{user_pw},
			user_address = #{user_address},
			user_phone = #{user_phone},
		    user_email = #{user_email}
		WHERE user_id = #{user_id}
	</update>
	
	<delete id="deleteUserById" >
		DELETE FROM User
		WHERE user_id = #{user_id}
	</delete>
	
	<!-- 권한 삭제 -->
	<delete id="deleteAuthById">
		DELETE FROM Auth
		WHERE user_id = #{user_id}
	</delete>
</mapper>